#form{
    height:250;
    width: 350px;;
    color: rgb(31, 30, 30);
    background: rgb(194, 196, 197);
    align-items: center;
    left: 50%;
    top: 50%;
    margin-left: -14%;
    position: absolute;
margin-top: -10%;
text-align: center;
text-overflow: clip;
}
.hero{
height: 100%;
width: 100%;
background-image: linear-gradient(rgba(0,0,0,0.4),(rgba90,0,0,0,0.4)), url(C:\Users\LOKESHd5-WA0000.jpg);
background-position: center;
background-size: cover;
position: absolute;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}